<!DOCTYPE html>
<html>

<head>
  <title>Minha Loja de Carros</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    html,
    body,
    .container-fluid {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    .content {
      padding: 20px;
    }

    .card {
      height: 100%;
    }

    .card-body {
      height: calc(100% - 68px);
    }

    .card.mb-4 {
      margin-bottom: 20px;
    }

    .row-with-spacing {
      margin-bottom: 30px;
    }

    .car-image {
      height: 200px;
      width: auto;
    }

    .hide {
      display: none;
    }
  </style>
</head>

<body>
  <div class="container-fluid">
    <header data-bs-theme="dark">
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <strong>Minha Loja de Carros</strong>
          </a>
          <div>
            <a href="/loja" class="navbar-toggler">Loja</a>
            <a href="/loja/aluguel" class="navbar-toggler">Meus Aluguéis</a>
            <a href="/loja/conta" class="navbar-toggler">Minha Conta</a>
            <a href="/logout" class="navbar-toggler">Logout</a>
          </div>
        </div>
      </div>
    </header>

    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="container">
          <h2 class="mt-4">Carros Disponíveis:</h2> <br><br>

          <div class="row row-with-spacing">
            <div class="col-md-4">
              <div class="form-group">
                <input type="text" id="searchInput" class="form-control" placeholder="Pesquisar">
              </div>
            </div>
            <div class="col-md-4">
              <button id="searchButton" class="btn btn-primary">Pesquisar</button>
            </div>
          </div>

          <div id="carList" class="row row-with-spacing">
            <% cars.forEach(function(car, index) { %>
              <div class="col-md-4 car-card mb-4">
                <div class="card mb-4">
                  <img src="<%= car.photo %>" class="card-img-top car-image" alt="Foto do carro">
                  <div class="card-body">
                    <h5 class="card-title">
                      <%= car.name %>
                    </h5>
                    <p class="card-text">Marca: <%= car.brand %>
                    </p>
                    <p class="card-text">Cor: <%= car.color %>
                    </p>
                    <p class="card-text">Valor: <%= car.price %>
                    </p>
                    <p class="card-text">Preço da Diária: <%= car.daily %>
                    </p>
                    <% if (car.available) { %>
                      <p class="card-text">Status: Disponível Hoje</p>
                      <a href="/loja/alugar/<%= car._id %>" class="btn btn-primary">Alugar</a>
                      <% } else { %>
                        <p class="card-text">Status: Indisponível Hoje</p>
                        <% leases.forEach(function(lease) { %>
                          <% if (car._id == lease.carId) { %>
                            <p class="card-text">Disponível em: <%= lease.dateFinal.split('-').reverse().join('/') %>
                            </p>
                            <% } %>
                              <% }) %>
                                <% } %>
                  </div>
                </div>
              </div>
              <% }) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<script>
  $(document).ready(function () {
    $('#searchButton').click(function () {
      var searchTerm = $('#searchInput').val().toLowerCase();

      $('.car-card').removeClass('hide');

      if (searchTerm !== '') {
        var hasMatches = false;

        $('.car-card').each(function () {
          var carName = $(this).find('.card-title').text().toLowerCase();

          if (!carName.includes(searchTerm)) {
            $(this).addClass('hide');
          } else {
            hasMatches = true;
          }
        });

        if (!hasMatches) {
          $('#carList').addClass('hide');
        } else {
          $('#carList').removeClass('hide');
        }
      } else {
        $('#carList').removeClass('hide');
      }
    });
  });
</script>

</html>