<!DOCTYPE html>
<html>

<head>
  <title>Minha Loja de Carros</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    html,
    body,
    .container-fluid {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    .content {
      padding: 20px;
    }

    .card {
      height: 100%;
    }

    .card-body {
      height: calc(100% - 68px);
    }

    .card.mb-4 {
      margin-bottom: 20px;
    }

    .row-with-spacing {
      margin-bottom: 30px;
    }

    .car-image {
      height: 200px;
      width: auto;
    }
  </style>
</head>

<body>
  <div class="container-fluid">
    <header data-bs-theme="dark">
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <strong>Minha Loja de Carros</strong>
          </a>
          <div>
            <a href="/loja" class="navbar-toggler">Loja</a>
            <a href="/loja/aluguel" class="navbar-toggler">Meus Aluguéis</a>
            <a href="/loja/conta" class="navbar-toggler">Minha Conta</a>
            <a href="/logout" class="navbar-toggler">Logout</a>
          </div>
        </div>
      </div>
    </header>

    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="container">
          <h2 class="mt-4">Carros Disponíveis:</h2> <br><br>
          <div class="row row-with-spacing">
            <% cars.forEach(function(car, index) { %>
              <div class="col-md-4">
                <div class="card mb-4">
                  <img src="<%= car.photo %>" class="card-img-top car-image" alt="Foto do carro">
                  <div class="card-body">
                    <h5 class="card-title">
                      <%= car.name %>
                    </h5>
                    <p class="card-text">Marca: <%= car.brand %>
                    </p>
                    <p class="card-text">Cor: <%= car.color %>
                    </p>
                    <p class="card-text">Valor: <%= car.price %>
                    </p>
                    <p class="card-text">Preço da Diária: <%= car.daily %>
                    </p>
                    <% if (car.available) { %>
                      <p class="card-text">Status: Disponível Hoje</p>
                      <a href="/loja/alugar/<%= car._id %>" class="btn btn-primary">Alugar</a>
                      <% } else { %>
                        <p class="card-text">Status: Indisponível Hoje</p>
                        <p class="card-text">Disponível em: <%= car.nextAvailableDate %>
                        </p>
                        <% } %>
                  </div>
                </div>
              </div>
              <% if ((index + 1) % 3===0) { %>
          </div>
          <div class="row row-with-spacing">
            <% } %>
              <% }) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>